<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
   </head>
   <body>
      <p>We received a request to recover your password.</p>
      <br />
      Please click the next link to recover your password:
      <a
         target="_blank"
         rel="noopener noreferrer"
         href="google.com"
      >this_is_a_test</a>
   </body>
</html>