@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --color-primary: #00bd6e;
   --color-primary-with-opacity: #00bd6e10;
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}

.icon-style {
   @apply w-6 h-6;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
   -webkit-background-clip: text;
   -webkit-text-fill-color: var(--color-primary) !important;
}
